@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Red+Hat+Text:wght@500;700&display=swap');

.container {
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, #B02A2A 0%, #A21B1B 15.94%, rgba(255, 52, 52, 0.13) 100%);
    margin: 0 auto;
}

body {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

header {
    padding: 45px;
}

.icon {
    margin-right: 1113px;
}

.menu>img {
    margin: 0px 19px 0px 19px;
    transition: all .2s ease-in-out;
}

.menu>img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.body-left {
    width: 690px;
    height: 974px;
}

h1 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 76.3%;
    letter-spacing: -0.03em;
    margin-bottom: 57px;
}

.subtitol {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #F7F7F7;
    margin-bottom: 52px;
}

.explore-more {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50px;
    border: 0;
    width: 211px;
    height: 66px;
    background-color: black;
    padding: 24px 57px 24px 40px;
    text-align: center;
}

.explore-more:hover {
    cursor: pointer;
}

.text {
    width: 456px;
    margin: 200px auto 50px;
}

.social-net {
    margin-top: 100px;
}

.social-net i {
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.facebook {
    background-image: url(../assets/icons/ico-facebook.svg);
}

.twitter {
    background-image: url(../assets/icons/ico-twitter.svg);
}

.instagram {
    background-image: url(../assets/icons/ico-instagram.svg);
}

.youtube {
    background-image: url(../assets/icons/ico-youtube.svg);
}

.body-right {
    width: 883px;
    height: 891px;
    background-image: url(../assets/imgs/rapero.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.reproduccio {
    background: rgba(0, 0, 0, 0.5);
    width: 883px;
    height: 221px;
    margin-top: 670px;
}

.reproduccio>img {
    border-radius: 20px;
    margin-right: 25px;
}

.botons {
    width: 505px;
    flex-wrap: wrap;
    margin-left: 2px;
}

.botons > button:hover {
    cursor: pointer;
}

.reproduccio h6 {
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15.26px;
    letter-spacing: -0.03em;
    margin-top: 30px;
    margin-right: 290px;
}

.bot-abans {
    background-image: url("../assets/icons/abans-seguent.svg");
    background-size: cover;
    background-position: center;
    width: 11px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 99px 18px 99px 18px;
}

.bot-aleatori {
    background-image: url("../assets/icons/aleatori.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    margin-right: 37px;
    margin-top: 20px;
}

.bot-enrere {
    background-image: url("../assets/icons/Envant-enrere.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 24px;
    background-color: transparent;
    border: none;
    margin-right: 37px;
    margin-top: 20px;
}

.bot-reproduir {
    background-image: url("../assets/icons/play-button.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 92px;
    width: 92px;
    background-color: transparent;
    border: none;
}

.bot-envant {
    background-image: url("../assets/icons/Envant-enrere.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 24px;
    background-color: transparent;
    border: none;
    margin-left: 37px;
    margin-top: 20px;
    transform: rotate(-180deg);
}

.bot-repetir {
    background-image: url("../assets/icons/repetir.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    margin-left: 37px;
    margin-top: 20px;
}

.bot-volum {
    background-image: url("../assets/icons/volum.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    margin-left: 37px;
    margin-top: 20px;
}

.bot-seguent {
    background-image: url("../assets/icons/abans-seguent.svg");
    background-size: cover;
    background-position: center;
    width: 11px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 80px;
    transform: rotate(-180deg);
}


.barra-progres {
    background-image: url("../assets/icons/reproduit.png");
    background-size: cover;
    background-position: center;
    width: 472px;
    height: 6px;
}